.checkout_head {
    text-align: center;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 1em;
}

.checkout_form {
    border: 1px solid black;
    border-radius: 10px;
    padding: 2em;
    margin-bottom: 1em;
}

.form-group {
    margin: 10px;
    justify-content: center;
    align-items: center;
}

.float-right {
    color: black;
}

.control-label {
    font-weight: bold;
}